<% title "Displaying Quotation" %>

<p id="notice"><%= notice %></p>

<p>Text: <%= @quote.text %></p>

<% unless @quote.author.nil? %> 
  <p>Author: <%= @quote.author.name %></p>
<% end %>

<% unless @quote.collections.empty? %>
  <p>Collection: <%= @quote.collections.first.name %></p>
<% end %>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
