<% title "Displaying Quotation" %>

<p id="notice"><%= notice %></p>

<p><%= @quote.text %></p>
<p><%= @quote.author.name %></p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
